# CSI4142 - Group 48 - Assignment 2 Part 2 - Imputation Methods 

---

Justin Wang | 300234186
<br>
Ali Bhangu | 300234254

---
Within this notebook is part two of Assignment 2 for CSI4142. In this part of the assignment we have devised an experiment that will perform 3 imputation tests, each test is structured as followed: 

1. An attribute is chosen on which to test the imputation method. 
2. Missing values are simulated by removing some vlaues on the specified attribute in the dataset. 
3. Run the programmed imputation approach for replacing the missing values. 
4. Evaluation of the results of our approach. 


### The 3 Imputation Methods we have chosen are: 
1. Default Value Imputation
2. Correlation Value Imputation
3. Regression Value Imputation
<br>

---

In [25]:
# Importing the required Python libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import os as os
from sklearn.linear_model import LinearRegression

df = pd.read_csv("Housing.csv")  # Make sure the file is in the same directory


## Default Value Imputation

For our first imputation method, we plan to utilize Missing Completely at Random (MCAR) to modify our dataframe and remove data entires. Below you will find our in-depth experiment. 

Default value imputation is when you replace the missing values in a table with the mean, median or mode of the respective feature. In our case, we chose to replace the missing values with the **MEAN**.

### a) We will test our imputation on the *Price* value

In [30]:
print("=== Original Data (first 10 rows) ===")
display(df.head(20))

=== Original Data (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### b) Using MCAR (Missing Completely at Random), we remove 10% of of the values in the attribute

In [31]:
# 2. Simulate missing data in 'price' (MCAR)
df_missing = df.copy()
np.random.seed(0)  # for reproducibility

# Randomly select 10% of rows to set 'price' to NaN
missing_indices = np.random.choice(df_missing.index, size=int(0.1 * len(df_missing)), replace=False)
df_missing.loc[missing_indices, 'price'] = np.nan

print("=== After Removing 10% of 'price' Values (first 10 rows) ===")
display(df_missing.head(20))

=== After Removing 10% of 'price' Values (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000.0,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000.0,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000.0,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000.0,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000.0,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000.0,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000.0,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000.0,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000.0,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000.0,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000.0,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000.0,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9240000.0,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000.0,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,NaN,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000.0,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,NaN,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000.0,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000.0,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### c) We use the Default Value Imputation to find the value of Price

In [32]:
# 3. Prepare for correlation-based imputation
#    - Use rows where 'price' is not missing to compute correlation stats
train_data = df_missing.dropna(subset=['price'])

# Compute mean and std of 'price' (Y) and 'area' (X) using non-missing data
mean_y = train_data['price'].mean()

# 4. Apply the correlation formula to impute missing 'price' values
missing_rows = df_missing['price'].isna()
# For each row with missing price, apply:
# Y_missing = corr * (std_y / std_x) * (area - mean_x) + mean_y
df_missing.loc[missing_rows, 'price'] = (
    mean_y
)

# 5. 'df_missing' now contains imputed 'price' values using the correlation approach
print("=== After Imputing Missing 'price' (first 10 rows) ===")
display(df_missing.head(20))

=== After Imputing Missing 'price' (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.330000e+07,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,1.225000e+07,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,1.225000e+07,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,1.221500e+07,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,1.141000e+07,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,1.085000e+07,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,1.015000e+07,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,1.015000e+07,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9.870000e+06,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9.800000e+06,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9.800000e+06,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9.681000e+06,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9.310000e+06,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9.240000e+06,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9.240000e+06,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,4.775118e+06,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9.100000e+06,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,4.775118e+06,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8.890000e+06,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8.855000e+06,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### d) TBD

## Correlation Imputation

For our second imputation method, we plan to utilize MAR (Missing at Random) to modify our dataframe and remove data entires. Below you will find our in-depth experiment. 

Correlation Imputation bivariate imputation method (using 2 variables) that uses the 2 values which correlate with each other to fill in missing attribute values. In our case, we will be using **Area** to help determine the **Price** of a given house.

### a) We will test our imputation on the *Price* value

In [33]:
print("=== Original Data (first 10 rows) ===")
display(df.head(20))

=== Original Data (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,9240000,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9100000,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8960000,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### b) Using MAR (Missing at Random), we remove the prices on houses who's area is less than the median area of all houses.

In [34]:
# 2. Simulate missing data in 'price' (MCAR)
df_missing = df.copy()
np.random.seed(0)  # for reproducibility

# Randomly select 10% of rows to set 'price' to NaN
median_area = df_missing['area'].median()
df_missing.loc[df_missing['area'] < median_area, 'price'] = np.nan

print("=== After Removing 10% of 'price' Values (first 10 rows) ===")
display(df_missing.head(20))

=== After Removing 10% of 'price' Values (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000.0,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000.0,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000.0,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000.0,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000.0,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000.0,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000.0,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000.0,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000.0,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9800000.0,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9681000.0,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9310000.0,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,NaN,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9240000.0,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9100000.0,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9100000.0,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8960000.0,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8890000.0,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8855000.0,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### c) We use Correlation Imputation to find the missing values of Price

In [35]:
# 3. Prepare for correlation-based imputation
#    - Use rows where 'price' is not missing to compute correlation stats
train_data = df_missing.dropna(subset=['price'])

# Compute Pearson correlation between 'price' and 'area'
corr = train_data[['price', 'area']].corr().loc['price', 'area']

# Compute mean and std of 'price' (Y) and 'area' (X) using non-missing data
mean_y = train_data['price'].mean()
std_y  = train_data['price'].std()
mean_x = train_data['area'].mean()
std_x  = train_data['area'].std()

# 4. Apply the correlation formula to impute missing 'price' values
missing_rows = df_missing['price'].isna()
# For each row with missing price, apply:
# Y_missing = corr * (std_y / std_x) * (area - mean_x) + mean_y
df_missing.loc[missing_rows, 'price'] = (
    corr * (std_y / std_x) * (df_missing.loc[missing_rows, 'area'] - mean_x) 
    + mean_y
)

# 5. 'df_missing' now contains imputed 'price' values using the correlation approach
print("=== After Imputing Missing 'price' (first 10 rows) ===")
display(df_missing.head(20))

=== After Imputing Missing 'price' (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.330000e+07,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,1.225000e+07,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,1.225000e+07,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,1.221500e+07,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,1.141000e+07,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,1.085000e+07,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,1.015000e+07,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,1.015000e+07,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9.870000e+06,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9.800000e+06,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
10,9.800000e+06,13200,3,1,2,yes,no,yes,no,yes,2,yes,furnished
11,9.681000e+06,6000,4,3,2,yes,yes,yes,yes,no,2,no,semi-furnished
12,9.310000e+06,6550,4,2,2,yes,no,no,no,yes,1,yes,semi-furnished
13,4.914202e+06,3500,4,2,2,yes,no,no,yes,no,2,no,furnished
14,9.240000e+06,7800,3,2,2,yes,no,no,no,no,0,yes,semi-furnished
15,9.100000e+06,6000,4,1,2,yes,no,yes,no,no,2,no,semi-furnished
16,9.100000e+06,6600,4,2,2,yes,yes,yes,no,yes,1,yes,unfurnished
17,8.960000e+06,8500,3,2,4,yes,no,no,no,yes,2,no,furnished
18,8.890000e+06,4600,3,2,2,yes,yes,no,no,yes,2,no,furnished
19,8.855000e+06,6420,3,2,2,yes,no,no,no,yes,1,yes,semi-furnished

### d) TBD

## Regression Imputation

For our third imputation method, we plan to utilize Missing Completely at Random (MCAR) to modify our dataframe and remove data entires. Below you will find our in-depth experiment. 

Regression Imputation is a multivariate imputation method (mutliple variable) that utilizes other attributes in a regression model to predict the missing value of an attribute. We will be using price, bedrooms, bathrooms, stories, parking to find the value of **AREA**

### a) We will test our imputation on the *Area* value

In [40]:
# 1. Load the dataset and display original data (first 10 rows)
print("=== Original Data (first 10 rows) ===")
display(df.head(10))

=== Original Data (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

### b) Using MCAR (Missing Completely at Random), we remove 10% of of the values in the attribute

In [41]:
# 2. Simulate missing data in 'area' (MCAR)
df_missing_area = df.copy()
np.random.seed(42)  # for reproducibility

# Randomly select 10% of the rows to set 'area' as missing
missing_indices = np.random.choice(df_missing_area.index, size=int(0.1 * len(df_missing_area)), replace=False)
df_missing_area.loc[missing_indices, 'area'] = np.nan

print("=== After Removing 10% of 'area' Values (first 10 rows) ===")
display(df_missing_area.head(10))

=== After Removing 10% of 'area' Values (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,NaN,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500.0,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,NaN,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200.0,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100.0,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750.0,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

### c) We use the Regression Imputation to find the value of Area

In [42]:
# 3. Regression imputation on 'area'
#    a. Use rows with non-missing 'area' values for training
train_data = df_missing_area.dropna(subset=['area'])
# Use numerical predictors: price, bedrooms, bathrooms, stories, parking
X_train = train_data[['price', 'bedrooms', 'bathrooms', 'stories', 'parking']]
y_train = train_data['area']

# Train a linear regression model to predict area
reg_model = LinearRegression()
reg_model.fit(X_train, y_train)

#    b. Predict missing 'area' values
missing_rows = df_missing_area['area'].isna()
X_missing = df_missing_area.loc[missing_rows, ['price', 'bedrooms', 'bathrooms', 'stories', 'parking']]
predicted_area = reg_model.predict(X_missing)

#    c. Fill in the missing 'area' values with predictions
df_missing_area.loc[missing_rows, 'area'] = predicted_area

print("=== After Regression Imputation for 'area' (first 10 rows) ===")
display(df_missing_area.head(10))

=== After Regression Imputation for 'area' (first 10 rows) ===

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.000000,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,10246.083797,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.000000,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.000000,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500.000000,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,7798.621256,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200.000000,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100.000000,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750.000000,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

### d) TBD